@using BikeStore.Models;
@using DAL;

@model List<OrderItemViewModel>

@{

    ViewBag.Title = "Cart";
}

<section class="container cart">

<h1 >Shopping Cart</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

	<div class="items">
		@foreach (OrderItemViewModel itemVM in Model){
		<div class="row">		
				<div class="col-md-3 col-xs-12">
					<h2>@itemVM.ProductName</h2>
				</div>
				<div class="col-md-3 col-xs-12">
					@itemVM.Price
				</div>
				<div class="col-md-1 col-xs-4">
					<input type="text" value='@itemVM.Quantity' class="quantity" />
				</div>

				<div class="col-md-1 col-xs-4">
					<input type="button" class="btn btn-warning btn-sm" onclick="OrderUpdater.updateQuantity(@itemVM.ProductID, @itemVM.OrderID, this)" value="update" /> 
				</div>

				<div class="col-md-1 col-xs-4">
					<input type="button" class="btn btn-danger btn-sm" onclick="OrderUpdater.removeFromCart(@itemVM.ProductID, @itemVM.OrderID, this)" value="remove" /> 
				</div>

			</div>
		}
	</div>
	
       

}

<div>
    @Html.ActionLink("Back to Products", "Products", "Product")  
	@Html.ActionLink("Checkout", "Checkout", "Order" , new { orderID = ViewBag.OrderID }, null)
</div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
