@using BikeStore.Models;
@using DAL;
@using System.Collections.Generic;
@model CartViewModel
@{
	ViewBag.Title = "Checkout";
}


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	<section class="container cart">
		<h2>
			Checkout</h2>
		<div class="row">
			<div class="col-md-2 col-sm-2  col-xs-12">
				@Html.LabelFor(model => model.CustomerName)
			</div>
			<div class="col-md-6  col-sm-6 col-xs-12">
				@Html.EditorFor(model => model.CustomerName)
				@Html.ValidationMessageFor(model => model.CustomerName)
			</div>
		</div>
		<div class="row">
			<div class="col-md-2  col-sm-2 col-xs-12">
				@Html.LabelFor(model => model.EmailAddress)
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.EditorFor(model => model.EmailAddress)
				@Html.ValidationMessageFor(model => model.EmailAddress)
			</div>
		</div>
		<div class="row">
			<div class="col-md-2  col-sm-2 col-xs-12">
				@Html.LabelFor(model => model.ShippingAddress)
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.EditorFor(model => model.ShippingAddress)
				@Html.ValidationMessageFor(model => model.ShippingAddress)
			</div>
		</div>
		<div class="row">
			<div class="col-md-2  col-sm-2 col-xs-12">
				@Html.LabelFor(model => model.PhoneNumber)
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.EditorFor(model => model.PhoneNumber)
				@Html.ValidationMessageFor(model => model.PhoneNumber)
			</div>
		</div>
		<div class="row">
			<div class="md-2 md-offset-8">
				@Html.HiddenFor(model => model.OrderID)
				<input type="submit" value="Place Order" class="btn btn-success btn-sm" />
			</div>
		</div>
	</section>
	
}