@using BikeStore.Controllers 

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" />
	<script src="../../Scripts/OrderUpdater.js" type="text/javascript"></script>
	@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
	{
		@Html.AntiForgeryToken()
	}
	
</head>
<body>
<section class="container">
	<nav role="navigation">
		<ul>
			<li>@Html.ActionLink("Products", "products", "product")</li>
			<li>@Html.ActionLink("Cart", "Cart", "Order", new {	orderID = ViewBag.OrderID }, 
																new { @class = "cartLink" })
			</li>
			<li>@Html.ActionLink("Checkout", "Checkout", "Order", new { orderID = ViewBag.OrderID }, new { @class = "cartLink" })</li>
		</ul>
	</nav>
	

	
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
	<script src="../../Scripts/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="../../Scripts/bootstrap.js" type="text/javascript"></script>
	<script type="text/javascript">
		var form = $('#__AjaxAntiForgeryForm');
		var token = $('input[name="__RequestVerificationToken"]', form).val();

		OrderUpdater.init('@Url.Content("~/Order/AddProductToOrder")',
							'@Url.Content("~/Order/UpdateOrderItemQuantity")',
							'@Url.Content("~/Order/RemoveProductFromOrder")');
	</script>
</section>
</body>
</html>
